<div id="calendar"></div>

<% if @date %>
<script>
  // Moves the calendar to a specified date.
  $(document).ready(function() {
    $('#calendar').fullCalendar('gotoDate', new Date(<%= @date %>));
  });
</script>
<% end %>
