<div id="calendar"></div>

<% if @date %>
  <%# Moves the calendar to a specified date. %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $('#calendar').fullCalendar('gotoDate', new Date(<%= @date %>));
    });
  <% end %>
<% end %>
