<p>
  <b>When:</b>
  <%= datepair_tag @event.starts_at, @event.ends_at, @event.all_day %>
</p>

<% if !@event.location.blank? %>
  <p>
    <b>Location:</b>
    <%= @event.location %>
  </p>
<% end %>

<%= link_to 'Delete', @event, confirm: 'Are you sure?', method: :delete, remote: true %>
|
<%= link_to 'Edit »', edit_event_path(@event) %>
