<table>
  <tr>
    <th class="field">When</th>
    <td class="field">
      <%= event_time_tag @event.starts_at, @event.ends_at, @event.all_day %>
    </td>
  </tr>

  <% if !@event.location.blank? %>
    <tr>
      <th class="field">Location</th>
      <td class="field"><%= @event.location %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Delete', @event, confirm: 'Are you sure?', method: :delete, remote: true %>
|
<%= link_to 'Edit »', edit_event_path(@event) %>
