/*
 * Place all the styles related to the matching controller here.
 * They will automatically be included in application.css.
 *
 *= require fullcalendar/fullcalendar.css
*/

#mini-calendar {
  float: left;
  font-size: small;
}

#calendar {
  margin-left: 250px;
}

/* FullCalendar button' text should be bold */
.fc-button-content {
  font-weight: bold;
}

/* Disable {clear: both} inside fullcalendar.css */
.fc-content {
  clear: none;
}

/* Remove the border and background color around the mini calendar header (where the title is) */
.ui-datepicker-header {
  border: none;
  background: none;
}

/* Remove the border around the mini calendar */
.ui-datepicker {
  border: none;
}
