/*
 *= require fullcalendar/fullcalendar.css
 *= require qtip/jquery.qtip.css
*/

#mini-calendar {
  float: left;
  font-size: small;
}

#calendar {
  margin-left: 250px;
}

/* FullCalendar button' text should be bold */
.fc-button-content {
  font-weight: bold;
}

/* Disable {clear: both} inside fullcalendar.css */
.fc-content {
  clear: none;
}
