/*
 * Place all the styles related to the matching controller here.
 * They will automatically be included in application.css.
 *= require fullcalendar/fullcalendar.css
 */

#mini-calendar {
  float: left;
  font-size: small;
}

#calendar {
  margin-left: 270px;
}

.fc-button-content {
  font-weight: bold;
}
