/*
 * require bootstrap-datepicker
 *= require jquery-timepicker/jquery.timepicker.css
*/

#map {
  /* Otherwise Firefox 9/10 shows the map outside its div */
  float: left;

  width: 300px;
  height: 300px;
}
